In [1]:
import json
import pandas as pd
import psycopg2
import plotly.express as px

In [2]:
file_path = "C:/Users/Theju/Desktop/Guvi Capstone Projects/Airbnb Analysis/sample_airbnb.json"

with open(file_path,"r") as file:
    data = json.load(file)

### Hotel Details Part

In [65]:
#def Hotel_Details():
airbnb_hotel_data = []

for item in data:
    Hotel_data = {
            "Hotel_Id": item.get("_id"),
            "Hotel_Name": item.get("name"),
            "Hotel_url": item.get("listing_url"),
            "Description": item.get("description"),
            "Property_type" : item.get("property_type"),
            "Room_type" : item.get("room_type"),
            "Bed_type": item.get("bed_type"),
            "Accomodates": item.get("accommodates"),
            "Min_nights": item.get("minimum_nights"),
            "Price": item.get("price"),
            "Availability_365": item.get("availability", {}).get("availability_365"),
            "Amenities": item.get("amenities"),
            "Neighbourhood" : item.get("address",{}).get("government_area"),
            "Neighbourhood_group" : item.get("address",{}).get("suburb"),
            "City" : item.get("address",{}).get("market"),
            "Country" : item.get("address",{}).get("country"),
            "latitude": item.get("address", {}).get("location", {}).get("coordinates")[1],
            "longitude": item.get("address", {}).get("location", {}).get("coordinates")[0],
            "Host_Id": item.get("host", {}).get("host_id"),
            "Host_Name": item.get("host", {}).get("host_name"),
            "Host_url": item.get("host",{}).get("host_url"),
            "Total_listing_by_Host" : item.get("host",{}).get("host_total_listings_count"),
            "Num_of_review" : item.get("number_of_reviews"),
            "Review_rating": item.get("review_scores", {}).get("review_scores_rating")}
            
        
    airbnb_hotel_data.append(Hotel_data)
Airbnb_Hotel_df = pd.DataFrame(airbnb_hotel_data)

# return Airbnb_Hotel_df

In [4]:
Airbnb_Hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Hotel_Id               5555 non-null   object
 1   Hotel_Name             5555 non-null   object
 2   Hotel_url              5555 non-null   object
 3   Description            5555 non-null   object
 4   Property_type          5555 non-null   object
 5   Room_type              5555 non-null   object
 6   Bed_type               5555 non-null   object
 7   Accomodates            5555 non-null   int64
 8   Min_nights             5555 non-null   object
 9   Price                  5555 non-null   float64
 10  Availability_365       5555 non-null   int64
 11  Amenities              5555 non-null   object
 12  Neighbourhood          5555 non-null   object
 13  Neighbourhood_group    5555 non-null   object
 14  City                   5555 non-null   object
 15  Country                5555 non-null   object
 16  latitude               5555 non-null   float64
 17  longitude              5555 non-null   float64
 18  Host_Id                5555 non-null   object
 19  Host_Name              5555 non-null   object
 20  Host_url               5555 non-null   object
 21  Total_listing_by_Host  5555 non-null   int64
 22  Num_of_review          5555 non-null   int64
 23  Review_rating          4081 non-null   float64
dtypes: float64(4), int64(4), object(16)
memory usage: 1.0+ MB

In [66]:
Airbnb_Hotel_df.describe()

,Accomodates,Price,Availability_365,latitude,longitude,Total_listing_by_Host,Num_of_review,Review_rating
count,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,4081.000000
mean,3.505851,278.766157,173.105671,22.061230,-6.623240,14.405761,27.606481,93.099240
std,2.297019,842.215531,139.841893,28.092112,90.525974,65.848868,49.798376,9.023483
min,1.000000,9.000000,0.000000,-34.088290,-159.678690,0.000000,0.000000,20.000000
25%,2.000000,70.000000,17.000000,20.724390,-73.599530,1.000000,1.000000,90.000000
50%,3.000000,129.000000,171.000000,40.727130,-8.611420,2.000000,5.000000,95.000000
75%,4.000000,280.000000,317.000000,41.162755,29.019605,6.000000,32.000000,99.000000
max,16.000000,48842.000000,365.000000,45.665630,151.338980,1198.000000,533.000000,100.000000

In [67]:
Airbnb_Hotel_df.describe(percentiles=[0.00,0.97])

,Accomodates,Price,Availability_365,latitude,longitude,Total_listing_by_Host,Num_of_review,Review_rating
count,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,4081.000000
mean,3.505851,278.766157,173.105671,22.061230,-6.623240,14.405761,27.606481,93.099240
std,2.297019,842.215531,139.841893,28.092112,90.525974,65.848868,49.798376,9.023483
min,1.000000,9.000000,0.000000,-34.088290,-159.678690,0.000000,0.000000,20.000000
0%,1.000000,9.000000,0.000000,-34.088290,-159.678690,0.000000,0.000000,20.000000
50%,3.000000,129.000000,171.000000,40.727130,-8.611420,2.000000,5.000000,95.000000
97%,9.000000,1192.000000,365.000000,45.534837,151.259810,92.000000,164.000000,100.000000
max,16.000000,48842.000000,365.000000,45.665630,151.338980,1198.000000,533.000000,100.000000

In [68]:
Airbnb_Hotel_df["Price"].clip(9,1192, inplace= True)

C:\Users\Theju\AppData\Local\Temp\ipykernel_5732\3079421859.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Airbnb_Hotel_df["Price"].clip(9,1192, inplace= True)

In [69]:
Airbnb_Hotel_df.describe()

,Accomodates,Price,Availability_365,latitude,longitude,Total_listing_by_Host,Num_of_review,Review_rating
count,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,4081.000000
mean,3.505851,235.310351,173.105671,22.061230,-6.623240,14.405761,27.606481,93.099240
std,2.297019,270.448370,139.841893,28.092112,90.525974,65.848868,49.798376,9.023483
min,1.000000,9.000000,0.000000,-34.088290,-159.678690,0.000000,0.000000,20.000000
25%,2.000000,70.000000,17.000000,20.724390,-73.599530,1.000000,1.000000,90.000000
50%,3.000000,129.000000,171.000000,40.727130,-8.611420,2.000000,5.000000,95.000000
75%,4.000000,280.000000,317.000000,41.162755,29.019605,6.000000,32.000000,99.000000
max,16.000000,1192.000000,365.000000,45.665630,151.338980,1198.000000,533.000000,100.000000

In [70]:
Airbnb_Hotel_df.isnull().sum()

Hotel_Id                    0
Hotel_Name                  0
Hotel_url                   0
Description                 0
Property_type               0
Room_type                   0
Bed_type                    0
Accomodates                 0
Min_nights                  0
Price                       0
Availability_365            0
Amenities                   0
Neighbourhood               0
Neighbourhood_group         0
City                        0
Country                     0
latitude                    0
longitude                   0
Host_Id                     0
Host_Name                   0
Host_url                    0
Total_listing_by_Host       0
Num_of_review               0
Review_rating            1474
dtype: int64

In [71]:
# To fill Null Places
mean_rating = Airbnb_Hotel_df["Review_rating"].mean()

Airbnb_Hotel_df["Review_rating"] = Airbnb_Hotel_df["Review_rating"].fillna(mean_rating)

In [72]:
def find_non_hashable_columns(df):
    non_hashable_columns = []
    for column in df.columns:
        if df[column].apply(lambda x: isinstance(x, (list, dict, set, bytearray))).any():
            non_hashable_columns.append(column)
    return non_hashable_columns

non_hashable_columns = find_non_hashable_columns(Airbnb_Hotel_df)

# Convert Non-Hashable to Hashable

for column in non_hashable_columns:
    # Convert lists to tuples
    Airbnb_Hotel_df["Amenities"] = Airbnb_Hotel_df["Amenities"].apply(
        lambda x: tuple(x) if isinstance(x, list) else x
    )

In [73]:
Airbnb_Hotel_df.duplicated().sum()

np.int64(0)

In [82]:
# replace other values in Airbnb_Hotel_df["City"]

Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["Country"] == "Brazil") & 
    (Airbnb_Hotel_df["City"] == ""), "City"] = "Rio De Janeiro"


Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["Country"] == "Portugal") & 
    (Airbnb_Hotel_df["City"] == "Other (International)"), "City"] = "Porto"


Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["Country"] == "Turkey") & 
    (Airbnb_Hotel_df["City"] == "Other (International)"), "City"] = "Istanbul"


Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["Country"] == "Canada") & 
    (Airbnb_Hotel_df["City"] == ""),"City"] = "Montreal"


# replace None values in Airbnb_Hotel_df["Neighbourhood_group"]

# replace Istanbul Neighbour_group none values

Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["City"] == "Istanbul") & 
    (Airbnb_Hotel_df["Neighbourhood_group"] == ""), "Neighbourhood_group"] = "Istanbul"


# replace Hong Kong Neighbour_group none values

Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["City"] == "Hong Kong") & 
    (Airbnb_Hotel_df["Neighbourhood_group"] == ""), "Neighbourhood_group"] = "Hong Kong"


# replace Sydney Neighbour_group none values

Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["City"] == "Sydney") & 
    (Airbnb_Hotel_df["Neighbourhood_group"] == ""), "Neighbourhood_group"] = "Sydney"


# replace Porto Neighbour_group none values

Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["City"] == "Porto") & 
    (Airbnb_Hotel_df["Neighbourhood_group"] == ""), "Neighbourhood_group"] = "Porto"


# replace Rio De Janeiro Neighbour_group none values

Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["City"] == "Rio De Janeiro") & 
    (Airbnb_Hotel_df["Neighbourhood_group"] == ""), "Neighbourhood_group"] = "Rio De Janeiro"


# replace Montreal Neighbour_group none values

Airbnb_Hotel_df.loc[
    (Airbnb_Hotel_df["City"] == "Montreal") & 
    (Airbnb_Hotel_df["Neighbourhood_group"] == ""), "Neighbourhood_group"] = "Montreal"

### Hotel Review Part

In [47]:
#def Review_Details():
airbnb_review_data = []

for item in data:
    reviews = item.get("reviews", [])

    for review in reviews:
        Review_data = {
            "Hotel_Id": item.get("_id"),
            "Hotel_Name": item.get("name"),
            "Reviewer_Id": review.get("reviewer_id"),  
            "Reviewer_Name": review.get("reviewer_name"),
            "Comments": review.get("comments")
        }
        airbnb_review_data.append(Review_data)
    Airbnb_Review_df = pd.DataFrame(airbnb_review_data)

#return Airbnb_Review_df

In [59]:
Airbnb_Review_df = Airbnb_Review_df[Airbnb_Review_df["Comments"] != ""]
Airbnb_Review_df = Airbnb_Review_df[Airbnb_Review_df["Comments"] != "-"]
Airbnb_Review_df = Airbnb_Review_df[Airbnb_Review_df["Comments"] != "---"]
Airbnb_Review_df = Airbnb_Review_df[Airbnb_Review_df["Reviewer_Name"] != "(Email hidden by Airbnb)"]
Airbnb_Review_df = Airbnb_Review_df[Airbnb_Review_df["Reviewer_Name"] != "(Website hidden by Airbnb)"]
Airbnb_Review_df = Airbnb_Review_df[Airbnb_Review_df["Reviewer_Name"] != "(Phone number hidden by Airbnb)"]

In [49]:
Airbnb_Review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149690 entries, 0 to 149791
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Id       149690 non-null  object
 1   Hotel_Name     149690 non-null  object
 2   Reviewer_Id    149690 non-null  object
 3   Reviewer_Name  149689 non-null  object
 4   Comments       149682 non-null  object
dtypes: object(5)
memory usage: 6.9+ MB

In [50]:
Airbnb_Review_df.isnull().sum()
Airbnb_Review_df.dropna(inplace= True)

In [51]:
Airbnb_Review_df.duplicated().sum()

np.int64(36)

In [52]:
Airbnb_Review_df.drop_duplicates(inplace= True)

In [53]:
Airbnb_Review_df.reset_index(drop= True, inplace= True)

### Post EDA

In [83]:
Airbnb_Hotel_df

,Hotel_Id,Hotel_Name,Hotel_url,Description,Property_type,Room_type,Bed_type,Accomodates,Min_nights,Price,...,City,Country,latitude,longitude,Host_Id,Host_Name,Host_url,Total_listing_by_Host,Num_of_review,Review_rating
0,1003530,New York City - Upper West Side Apt,https://www.airbnb.com/rooms/1003530,"Murphy bed, optional second bedroom available....",Apartment,Private room,Real Bed,2,12,135.0,...,New York,United States,40.799620,-73.965230,454250,Greta,https://www.airbnb.com/users/show/454250,3,70,94.00000
1,10133554,Double and triple rooms Blue mosque,https://www.airbnb.com/rooms/10133554,We are on the central city Blue mosque 5 minu...,Bed and breakfast,Private room,Real Bed,3,1,121.0,...,Istanbul,Turkey,41.006200,28.980090,52004703,Mehmet Emin,https://www.airbnb.com/users/show/52004703,2,29,92.00000
2,10059872,"Soho Cozy, Spacious and Convenient",https://www.airbnb.com/rooms/10059872,"Clean, fully furnish, Spacious 1 bedroom flat ...",Apartment,Entire home/apt,Real Bed,3,4,699.0,...,Hong Kong,Hong Kong,22.281580,114.150270,51624384,Giovanni,https://www.airbnb.com/users/show/51624384,1,3,100.00000
3,10084023,City center private room with bed,https://www.airbnb.com/rooms/10084023,House is located 5mins walk from Sham Shui Po ...,Guesthouse,Private room,Futon,1,1,181.0,...,Hong Kong,Hong Kong,22.331400,114.166900,51744313,Yi,https://www.airbnb.com/users/show/51744313,2,81,92.00000
4,10091713,Surry Hills Studio - Your Perfect Base in Sydney,https://www.airbnb.com/rooms/10091713,"This spacious, light filled studio has everyth...",Apartment,Entire home/apt,Real Bed,2,10,181.0,...,Sydney,Australia,-33.880290,151.215540,13764143,Ben,https://www.airbnb.com/users/show/13764143,1,64,95.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,Kadıköy-Altıyol,https://www.airbnb.com/rooms/9985696,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,House,Entire home/apt,Real Bed,2,1,501.0,...,Istanbul,Turkey,40.985630,29.030790,51303748,Eren,https://www.airbnb.com/users/show/51303748,2,0,93.09924
5551,9993190,Just Steps from the Ocean at Premier Platinum ...,https://www.airbnb.com/rooms/9993190,Relax Hawaiian Style in Gated Community on Oce...,Townhouse,Entire home/apt,Real Bed,6,3,220.0,...,Maui,United States,20.858940,-156.667520,51013381,Coconut Condos,https://www.airbnb.com/users/show/51013381,58,15,92.00000
5552,9887054,Quarry Bay fully furnished studio C,https://www.airbnb.com/rooms/9887054,Newly renovated studio flat with full furniture.,Apartment,Private room,Real Bed,1,3,400.0,...,Hong Kong,Hong Kong,22.291570,114.207220,31386255,Cat,https://www.airbnb.com/users/show/31386255,7,4,85.00000
5553,9907907,Large double room in Bondi,https://www.airbnb.com/rooms/9907907,A bright large double room is available in a b...,Apartment,Private room,Real Bed,2,3,60.0,...,Sydney,Australia,-33.892980,151.265420,47615848,Lucy,https://www.airbnb.com/users/show/47615848,1,0,93.09924
5554,9936016,Alugo Apartamento na Tijuca,https://www.airbnb.com/rooms/9936016,Apartamento amplo que acomoda 6 pessoas. Um qu...,Apartment,Entire home/apt,Real Bed,6,1,750.0,...,Rio De Janeiro,Brazil,-22.908336,-43.173761,47092481,Aliane,https://www.airbnb.com/users/show/47092481,1,0,93.09924

In [84]:
Airbnb_Review_df

,Hotel_Id,Hotel_Name,Reviewer_Id,Reviewer_Name,Comments
0,1003530,New York City - Upper West Side Apt,3708459,Josh,i had a really pleasant stay at greta's place....
1,1003530,New York City - Upper West Side Apt,4609491,Ralf,"Greta has been a great host, and her apartment..."
2,1003530,New York City - Upper West Side Apt,6741662,Mame,Greta was wonderful. We arrived late at night ...
3,1003530,New York City - Upper West Side Apt,474156,Lars,"Greta's place is very well located, so close t..."
4,1003530,New York City - Upper West Side Apt,6067127,Nicole,I had a wonderful stay at Greta's NYC apartmen...
...,...,...,...,...,...
149640,9993190,Just Steps from the Ocean at Premier Platinum ...,3140787,Harold,Condo is located in gated community with 3 poo...
149641,9887054,Quarry Bay fully furnished studio C,97595938,绍彬,就是日用品不齐其他没有任何问题
149642,9887054,Quarry Bay fully furnished studio C,97695338,Hayden,Cat is a great host and will reply as soon as ...
149643,9887054,Quarry Bay fully furnished studio C,32130541,Dew,Cat was very helpful for our arrival and stay.
149644,9887054,Quarry Bay fully furnished studio C,45066433,Ilia,The building itself is old and the room is har...

### Export to SQL

In [85]:
# SQL Connection

mydb = psycopg2.connect(host = "localhost",
                        user = "postgres",
                        port = "5432",
                        database = "Airbnb_Analysis",
                        password = "Thejas@4218")

cursor = mydb.cursor()

try:
    create_hotel_details = '''CREATE TABLE if not exists Hotel_Details (
                                Hotel_Id bigint PRIMARY KEY,
                                    Hotel_Name varchar(255),
                                        Hotel_url varchar(255),
                                            Description varchar(5000),
                                                Property_type varchar(255),
                                                    Room_type varchar(255),
                                                        Bed_type varchar(255),
                                                            Accomodates int,
                                                                Min_nights int,
                                Price int,
                                    Availability_365 int,
                                        Amenities varchar(5000) ,
                                            Neighbourhood varchar(255),
                                                Neighbourhood_group varchar(255),
                                                    City varchar(255),
                                                        Country varchar(255),
                                latitude float,
                                    longitude float,                   
                                        Host_Id varchar(255),
                                            Host_Name varchar(255),
                                                Host_url varchar(255),
                                                    Total_listing_by_Host int ,
                                                        Num_of_review int,
                                                            Review_rating Decimal(5, 1) )'''

    cursor.execute(create_hotel_details)
    mydb.commit()


    insert_hotel_details = '''INSERT INTO Hotel_Details ( Hotel_Id, Hotel_Name, Hotel_url, Description, Property_type, Room_type, Bed_type, Accomodates, 
                                                Min_nights, Price, Availability_365, Amenities, Neighbourhood, Neighbourhood_group, City, Country, 
                                                latitude, longitude, Host_Id, Host_Name, Host_url, Total_listing_by_Host, Num_of_review, Review_rating )
                                                        
                                                values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''


    hotel_data = Airbnb_Hotel_df.values.tolist()
    cursor.executemany(insert_hotel_details, hotel_data)
    mydb.commit()





    create_review_details = '''CREATE TABLE if not exists Review_Details (
                                    Hotel_Id bigint,
                                        Hotel_Name varchar(255),
                                            Reviewer_Id bigint,
                                                Reviewer_Name varchar(255),
                                                    Comments varchar(10000))'''

    cursor.execute(create_review_details)
    mydb.commit()


    insert_review_details = '''INSERT INTO Review_Details (
                                    Hotel_Id, Hotel_Name, Reviewer_Id, Reviewer_Name, Comments)

                                    values(%s,%s,%s,%s,%s)'''

    review_data = Airbnb_Review_df.values.tolist()
    cursor.executemany(insert_review_details, review_data)
    mydb.commit()

except:
    pass